<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Books</h2>
			<p>Experience in the research and education industry. Author of the book Introduction to Solar Energy (In Spanish).</p>
		</header>
		<ul class="actions vertical">
			<li><a href="https://libros.jesusgonzalez.co/energ%C3%ADa-solar.html" class="button fit special">Read Sample</a></li>
			<li><a href="https://www.amazon.com/dp/9584926365" class="button fit">Learn More</a></li>
		</ul>
	</div>
</section>
