<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" {% if page.layout == 'default' %} class="alt" {% endif %}>
		<h1><a href="{{ "" | absolute_url }}/">Jesus D. Gonzalez L.,Ph.D.</a></h1>
		<div id="desktopheader">
		<nav id="nav">
						<ul>
							{% for page in site.pages %} {% if page.layout == "default" %}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %} {% for page in site.pages %} {% if page.layout == "page" %}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %}{% for page in site.pages %} {% if page.layout == "about" %}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %}
						</ul>
		</nav>
		</div>
		<div id="mobileheader">
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle">Menu</a>
						<div id="menu">
							<ul>
								{% for page in site.pages %} {% if page.layout == "default" %}
								<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
								{% endif %} {% endfor %} {% for page in site.pages %} {% if page.layout == "page" %}
								<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
								{% endif %} {% endfor %}{% for page in site.pages %} {% if page.layout == "about" %}
								<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
								{% endif %} {% endfor %}
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</header>
