<!-- Three -->
<section id="three" class="wrapper style5 special">
	<div class="inner">
		<header class="major">
			<h2>Engineer, Research, Professor in Engineering</h2>
			<p> Applied Science for Integrated Systems Engineering</p>
		</header>
		<ul class="features">
			<li>
				<h3> <span class="icon fa-paper-plane-o style6"></span> Engineering</h3>
				<p>Experience as technical leader in the design of complex integrated system using systems engineering methodology for analisys and design. Leader of the Ten-Koh satellite electric power system equipment, which was launched on October 29, 2018. Experience in the control system design for the tertiary reflector project of the Arecibo Observatory in Puerto Rico.</p>
			</li>
			<li>
				<h3> <span class="icon fa-laptop style6"></span> Research</h3>
				<p>Principal investigator and co-investigator of projects funded by MinCiencias (Colombia). International collaboration in projects about renewable energy and aerospace. Recognition from MinCiencias, IAF, UNOOSA and IEEE for significant performance in research.</p>
			</li>
			<li>
				<h3> <span  class="icon fa-heart-o style6"></span> Teaching</h3>
				<p>More than 10 years of experience as professor in higher education encouraging research training for undergraduate students through research seedbeds and guidance of young researchers. Undergraduate students have been co-authors of publications, being first authors in several cases.</p>
			</li>
			<li>
				<h3> <span class="icon fa-book style6"></span> Publications</h3>
				<p>Author of more than 30 publications in conferences and indexed journals. Author of two books: one  research result book and one dissemination book.  Divulgation of research and engineering through webinars and radio and peer evaluator of recognized publications.</p>
			</li>
		</ul>
	</div>
</section>
