<!-- One -->
<section id="one" class="wrapper style5 special">
	<div class="inner">
		<header class="major">
			<h2>Experience and areas of knowledge</h2>
			<p>Research, teaching and development of integrated systems based on control, electronics, software and systems engineering for terrestrial and space applications</p>
			<p>Solar energy, automation,  internet of things, electric vehicle and aerospace focusing on efficiency and scalability</p>
			<p>Electronics, data analysis, hardware and software technologies</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-diamond major style6"><span class="label">Lorem</span></span>
			</li>
			<li><span class="icon fa-heart-o major style6"><span class="label">Ipsum</span></span>
			</li>
			<li><span class="icon fa-code major style6"><span class="label">Dolor</span></span>
			</li>
		</ul>
	</div>
</section>
